.Tol-heading {
  width: 11rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.85rem;
  background-color: #fefbfb;
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;
}

/* .Tol-body { display: flex;
flex-direction: row;
width: 55rem;
height: 30rem;
background-color: #f6f1f1;
align-items: center;
justify-content: space-around;
padding: 0 0 3rem 0;
border-radius: 0 1rem 1rem 1rem;} */
