.table-heading {
  padding: 1rem;
}
.input-same-4 {
  width: 4rem;
}

.input-same-1 {
  width: 5.5rem;
}

.input-same-2 {
  width: 8rem;
}

.input-same-3 {
  width: 17rem;
}
.enter input {
  height: 1.75rem;
  background-color: #f7f8f8;
  border: 1px solid #d1d1d1;
}
.table-heading {
  padding: 0.5rem 0 1rem 0;
}

table,
td {
  border: 1px solid #d1d1d1;
  text-align: left;
  background-color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 0 0.5rem 0 0.5rem;
  border: 1px solid #d1d1d1;
  text-align: center;
  background-color: white;
}

td {
  padding: 15px;
}
